<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>ログイン画面</h2>

<form th:action="@{/login}" method="post" th:object="${usersDTO}">
    <div>
        <label>ログインID:</label>
        <input type="text" th:field="*{loginId}">
        <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error"></div>
    </div>
    <div>
        <label>パスワード:</label>
        <input type="password" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
    </div>
	
	<div th:if="${param.error}" class="error">
        ログインに失敗しました。ログインIDまたはパスワードが違います。
    </div>
	
    <button type="submit">ログイン</button>
</form>
</body>
</html>